<section id="portfolio" class="animate-all hide">
  <div class="small-header-inner">
    <div class="container">
      <h1 class="uppercase">Portfolio</h1>
    </div>
  </div>
  <div class="container list">
    <% data['portfolio'].each do |work| %>
    <article class="portfolio <%= work_tags(work[2]) %>">
      <header class="hide">
        <h2><%= work_category(work[2]) %> @ <%= work[0] %></h2>
        <%= "<p>#{work[3]}</p>" unless work[3].nil? %>
      </header>
      <div class="thumb">
        <a href="<%= get_link(work[1]) %>" title="<%= work[0] %>" <%= should_blank(work[1]) ? "target=\"_blank\"" : 'class="full-screen"' %>>
          <img src="<%= get_thumb(work[1]) %>" alt="<%= work[0] %>" />
        </a>
      </div>
    </article>
    <% end %>
  </div>
  <div id="work-view" class="animate-all hide">
  </div>
</section>
